:root{
    --opacity:0.1;
}

$link-color:white;
$brand-color:white;
$fnt-very-lg:3rem;
$fnt-lg:1.5rem;
$fnt-normal:1rem;
$font-family: "Sofia", sans-serif;
$font-family2: 'Metropolische', sans-serif;
$burger-width:25px;
$burger-height:2px;




